---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Excellence from '../components/Excellence.astro';
import Programs from '../components/Programs.astro';
import Accreditations from '../components/Accreditations.astro';
import PresidentLetter from '../components/PresidentLetter.astro';
---

<Layout title="Home">
  <main>
    <Hero />
    <Excellence />
    <Programs />
    <Accreditations />
    <PresidentLetter />
  </main>
</Layout>